<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Production Prediction</title>
</head>
<body>
    <h1>Predict Rice Production</h1>
    <form action="/predict" method="post">
        <label for="year">Year:</label><br>
        <input type="text" id="year" name="year"><br><br>
        <label for="luas">Luas Panen:</label><br>
        <input type="text" id="luas" name="luas"><br><br>
        <label for="rainfall">Curah Hujan:</label><br>
        <input type="text" id="rainfall" name="rainfall"><br><br>
        <label for="humidity">Kelembapan:</label><br>
        <input type="text" id="humidity" name="humidity"><br><br>
        <label for="temperature">Suhu Rata-rata:</label><br>
        <input type="text" id="temperature" name="temperature"><br><br>
        <input type="submit" value="Predict">
    </form>
    {% if prediction_text %}
        <h2>{{ prediction_text }}</h2>
    {% endif %}
</body>
</html>

